
// East End UI

// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view

// der doofe kleine mini handle zum auf und zu machen. wie stellt man den ab?
.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}



  .tree-view {
    color: @text-color;
    background-color: @tree-view-background-color;

    .project-root.project-root {
      &:before {
        height: @tab-height;
        background-clip: padding-box;
      }
      & > .header .name {
        line-height: @tab-height;
      }
    }

    // Selected state
    .selected:before {
      background: @button-background-color-selected;
    }

    // Focus + selected state
    &:focus {
      .selected.list-item > .name, // files
      .selected.list-nested-item > .list-item > .name, // folders
      .selected.list-nested-item > .header:before { // arrow icon
        color: @text-color-selected;
      }
      .selected:before {
        background: @background-color-selected;
      }
    }

    .list-item.selected {
      color: @text-color;
    }
  }
